In [30]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
pd.set_option('max_colwidth',100)

In [31]:
path = './datasets/'
df = pd.read_csv(path + "Modified_SQL_Dataset.csv")
print("Data Shape:", df.shape)
print("Data :", df.loc[7])
df.head(10)

Data Shape: (30919, 2)
Data : Query    1;  (  load_file  (  char  (  47,101,116,99,47,112,97,115,115,119,100   )    )     )  ,1,1,1;
Label                                                                                                1
Name: 7, dtype: object

,Query,Label
0,""" or pg_sleep ( __TIME__ ) --",1
1,create user name identified by pass123 temporary tablespace temp default tablespace users;,1
2,AND 1 = utl_inaddr.get_host_address ( ( SELECT DISTINCT ( table_name ) FROM ( ...,1
3,"select * from users where id = '1' or @ @1 = 1 union select 1,version ( ) -- 1'",1
4,"select * from users where id = 1 or 1#"" ( union select 1,version ( ) -- 1",1
5,select name from syscolumns where id = ( select id from sysobjects where name = tabl...,1
6,select * from users where id = 1 +$+ or 1 = 1 -- 1,1
7,"1; ( load_file ( char ( 47,101,116,99,47,112,97,115,115,119,100 ) ) ) ,1,1,1;",1
8,"select * from users where id = '1' or ||/1 = 1 union select 1,version ( ) -- 1'",1
9,"select * from users where id = '1' or \.<\ union select 1,@@VERSION -- 1'",1

In [34]:
df.iloc[:,0] = df.iloc[:,0].str.replace('"', '\\\"')

In [35]:
df.to_csv('new.csv', index=False)