In [76]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from sklearn.metrics import accuracy_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
import tensorflow as tf
from tensorflow.keras.utils import plot_model
from sklearn import tree
from tensorflow.keras import models, layers
import warnings

from sklearn.metrics import confusion_matrix, classification_report, f1_score, precision_score, recall_score, accuracy_score
from sklearn.metrics import precision_recall_curve,precision_recall_fscore_support
import seaborn as sns
warnings.filterwarnings('ignore')
from sklearn.feature_extraction.text import TfidfVectorizer
import sqlparse

In [78]:
path = './datasets/'
df = pd.read_csv(path + "sqli.csv",encoding='utf-16')
print("Data Shape:", df.shape)
df.head(10)

Data Shape: (4200, 2)

                    Sentence  Label
0                          a      1
1                        a'       1
2                      a' --      1
3            a' or 1 = 1; --      1
4                          @      1
5                          ?      1
6   ' and 1 = 0 )  union all      1
7              ? or 1 = 1 --      1
8  x' and userid is NULL; --      1
9   x' and email is NULL; --      1

In [79]:
def parse_sql(sql):
    try:
        stmt = sqlparse.parse(sql)[0]
    except:
        stmt = None
    if stmt == None:
        return None
    else :
        return stmt.tokens

In [81]:
X = df['Sentence']
y = df['Label']
print(X.shape, y.shape)
X = X.apply(parse_sql) 

print("Dataset Input:", "\n", X.head(5))
print("Dataset Label:", "\n", y.head(5))

(4200,) (4200,)
Dataset Input:
 0                                  [a]
1                            [a, ',  ]
2                        [a, ',  , --]
3    [a, ',  , or,  , 1 = 1, ;,  , --]
4                                  [@]
Name: Sentence, dtype: object
Dataset Label:
 0    1
1    1
2    1
3    1
4    1
Name: Label, dtype: int64

In [82]:
import keras
from keras.models import load_model
import pickle


mymodel = tf.keras.models.load_model('my_model_cnn_Modified.h5')
myvectorizer = pickle.load(open("vectorizer_cnn_sqlparse", 'rb'))

In [83]:
def clean_data(input_val):

    input_val=input_val.replace('\n', '')
    input_val=input_val.replace('%20', ' ')
    input_val=input_val.replace('=', ' = ')
    input_val=input_val.replace('((', ' (( ')
    input_val=input_val.replace('))', ' )) ')
    input_val=input_val.replace('(', ' ( ')
    input_val=input_val.replace(')', ' ) ')
    input_val=input_val.replace('1 ', 'numeric')
    input_val=input_val.replace(' 1', 'numeric')
    input_val=input_val.replace("'1 ", "'numeric ")
    input_val=input_val.replace(" 1'", " numeric'")
    input_val=input_val.replace('1,', 'numeric,')
    input_val=input_val.replace(" 2 ", " numeric ")
    input_val=input_val.replace(' 3 ', ' numeric ')
    input_val=input_val.replace(' 3--', ' numeric--')
    input_val=input_val.replace(" 4 ", ' numeric ')
    input_val=input_val.replace(" 5 ", ' numeric ')
    input_val=input_val.replace(' 6 ', ' numeric ')
    input_val=input_val.replace(" 7 ", ' numeric ')
    input_val=input_val.replace(" 8 ", ' numeric ')
    input_val=input_val.replace('1234', ' numeric ')
    input_val=input_val.replace("22", ' numeric ')
    input_val=input_val.replace(" 8 ", ' numeric ')
    input_val=input_val.replace(" 200 ", ' numeric ')
    input_val=input_val.replace("23 ", ' numeric ')
    input_val=input_val.replace('"1', '"numeric')
    input_val=input_val.replace('1"', '"numeric')
    input_val=input_val.replace("7659", 'numeric')
    input_val=input_val.replace(" 37 ", ' numeric ')
    input_val=input_val.replace(" 45 ", ' numeric ')

    return input_val

In [84]:
X=myvectorizer.transform(X.astype('U')).toarray()

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(3780, 3966)
(3780,)
(420, 3966)
(420,)

In [90]:
f1_dict = {}
precision_dict = {}
recall_dict = {}
accuracy_dict = {}
train_accuracy = {}
validation_accuracy = {}
test_accuracy = {}

In [91]:
X_train1 = X_train.reshape(-1, 1, 3966)
X_test1 = X_test.reshape(-1, 1, 3966)

In [97]:
y_pred = mymodel.predict(X_train1).flatten()
# y_pred1 = [1 if x>-0.5 else 0 for x in y_pred]
y_pred = np.round(y_pred)
print(f"Accuracy of CNN on test set : {accuracy_score(y_pred, y_train)}")
print(f"F1 Score of CNN on test set : {f1_score(y_pred, y_train)}")

# Updates model score to f1_dict
f1_dict["CNN"] = f1_score(y_pred, y_train)
precision_dict["CNN"] = precision_score(y_pred, y_train)
recall_dict["CNN"] = recall_score(y_pred, y_train)
accuracy_dict['CNN'] = accuracy_score(y_pred, y_train)

119/119 [==============================] - 0s 1ms/step
Accuracy of CNN on test set : 0.8597883597883598
F1 Score of CNN on test set : 0.7820723684210527